* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #fff0da;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

header {
    background-color: #4EB1BA;
    padding: 5px;
    width: 100%;
    text-align: center;
}

footer {
    background-color: #4EB1BA;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 80px;
    align-items: center;
}

/*===================================================================================================================*/

.logo {
    border-radius: 50%;
    width: 300px;
}

.navegacao {    
    background-color: #FFD166;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 100px;
    width: 100%;
    height: 50px;
}

.navegacao-botao {
    display: flex;
    justify-content: center;
    font-size: 20px;
    align-items: center;
    text-decoration: none;
    width: 150px;
    height: 50px;
    color: black;
    }

.navegacao-botao:hover {
    background-color: #f0ab0c;
    border-radius: 10px;
}

/*===================================================================================================================*/

.login-cliente  {
    background-color: white;
    box-shadow: 
    10px 10px 20px 1px rgba(0, 0, 0, 0.25),
    -10px 10px 20px 1px rgba(0, 0, 0, 0.25),
    10px 10px 20px 1px rgba(0, 0, 0, 0.25),
    -10px 10px 20px 1px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 400px;
    width: 500px;
    border-radius: 30px;
    margin-top: 100px;
    margin-bottom: 215px;
    padding-top: 50px;
    
}

.form-cadastro-login {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 90%;
    gap: 10px;
    font-size: 30px;
}

.login-input{
    height: 30px;
    font-size: 20px;
    padding-left: 20px;
}

.div-botao-submit {
    display: flex;
    justify-content: center;
    width: 100;

}

.botao-submit {
    background-color: #4EB1BA;
    width: 400px;
    height: 50px;
    border-radius: 20px;
    font-size: 20px;
    text-decoration: none;
    color: #000;
    border: 3px solid;
    cursor: pointer;
}

.botao-submit:hover {
    background-color: #a5e2e7;
}

.div-botao-submit-cadastrar {
    padding-top: 50px;
    text-align: center;
}

.login-botao-cadastrar {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #FFD166;
    color: black;
    width: 400px;
    height: 50px;
    border-radius: 20px;
    font-size: 20px;
    text-decoration: none;
    border: 3px solid;
}

.login-botao-cadastrar:hover{
    background-color: #f5db9f;
}
